<div class="text-center bg-dark text-white pt-2 pb-1 mb-3">
    <p>ホーム</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <%= render 'layouts/flash_messages' %>
            <%= render 'toppages/studies', studies: @study %>
        </div>
    
        <div class="col-sm-4">
            <% if logged_in? %>
            <%= render 'layouts/navbar', user: current_user %>
            <% else %>
            <%= render 'layouts/login' %>
            <% end %>
        </div>
    </div>
</div>
