<nav class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 50px;">
    <a href="/" class="navbar-brand"><em>Protime</em></a>
    <ul class="navbar-nav mr-auto">
        
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/">ホーム</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ランキング</a>
                <div class="dropdown-divider"></div>
                <% if logged_in? %>
                    <a class="dropdown-item" href="#">退会</a>
                <% else %>
                    <a class="dropdown-item" href="/signup">ユーザ登録</a>
                <% end %>
            </div>
        </li>
    </ul>
</nav>